header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px;

    background-color: #015366;
    color: #e0f4f5;

    p {
        display: block;
    }
    nav {
        a {
            margin-left: 20px;
        }
    }
}
